# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are :
1. R
2. SQL
3. Java
4. Scala
5. C++

**Objectives**

* List of popular languages Data Scientist use
* List of library used by Data Scientist
* Open source Data Science Tools
* Simple arithmetic expression

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn

|Data Science Tools|
|------------------|
|RStudio |
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

### Below are a few example of evaluating arithmetic expression in python

In [1]:
# This is a simple arithmetiic expression to multiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60

In [4]:
200/60

3.3333333333333335

## Author
Valentina Ekui Ocloo